# Build artefacts
build/
DerivedData/
*.o
*.LinkFileList
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User settings
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Workspace settings
*.xcworkspace/xcuserdata/

# Swift Package Manager
Packages/
.swiftpm/
.build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcodeproj/xcshareddata/swiftpm/
!*.xcodeproj/xcshareddata/swiftpm/Package.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.swiftsourceinfo
*.DS_Store
*.log

# Temporary files
*.tmp
*.swp
*.swx
*.lock
*.bak
*.orig

# Secretos de configuración
Config/Debug.xcconfig
Config/Release.xcconfig
