<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SupabaseKey</key>
	<string>$(SUPABASE_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.986826619867-v8enosmpnemd0kfkrabu3k1oncan2sav</string>
			</array>
		</dict>
	</array>
	<key>GoogleService-Info</key>
	<string>GoogleService-Info.plist</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.google</string>
	</array>
</dict>
</plist>
